
*.db
*.txt
*.cpython-38.pyc
*.db-journal
*.csv
0-TEST/test1.py
0-Settings/test.py
*.pyc
/1-DataGathering/Programs/__pycache__
/2-DataProcessing/Programs/__pycache__
.DS_Store
/macvenv
/0-Run/config_files/__pycache__
/01-Program_Setup/__pycache__
/Misc/Programs/__pycache__
/7-Placing_Orders/Programs/__pycache__
